{% extends "layout.html" %}
{% block content %}


<!-- Full Page Image Header with Vertically Centered Content -->
<header class="masthead">
  <div class="container h-50">
    <div class="row h-50 align-items-center">
      <div class="col-12 text-center">
        <h4 class="font-weight-light">Solar Energy - Sustainability - Offgrid Living Lifestyle</h4>
      </div>
    </div>
  </div>
</header>

<div class="row mx-auto" style="padding-top:50px;padding-bottom:300px;">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Battery-bank Dimensioning</h5>
        <p class="card-text">The TechOffgrid battery-bank calculator requires six user input values,
          some of which is usually found in the battery datasheet, or in general by battery type elsewhere.</p>
        <a href="#" class="btn btn-outline-info">Try it out</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">PV-array Sizing</h5>
        <p class="card-text">The TechOffgrid PV-array sizing calculator can help determine an appropriate PV-array square meter,
          based on latitude, power usage, radiation, and PV module efficiency.
        </p>
        <a href="#" class="btn btn-outline-info">Try it out</a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Latest Blogpost</h5>
        <p class="card-text">The aim of the blog will be to write and share useful theory, tech, and concepts related to offgrid living and sustainability.
          To begin with, there will be a focus on solar energy and ...
        </p>
        <a href="#" class="btn btn-outline-info">Read more</a>
      </div>
    </div>
  </div>
</div>

<div>
  <p>text</p>
</div>





{% endblock content %}
